* {
    margin:0px;
    padding:0px;

	font-family:"Nanum Gothic", sans-serif;
	text-decoration:none;
}

/*스타일*/
    /*폰트 - 나눔고딕*/
    @import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    height:100%;
}
body {
    overflow-y:scroll;
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    height:100%;

    background-color:#606060;
}

#wrapper {
    position:relative;

    margin:0px auto;
    width:700px;
    height:100%;
    min-height:800px;

    background-color:white;

    text-align:center;
}

h1 {
    font-size:60px;
}
h2 {
    margin-bottom:10px;
}

#inputimg {
    display:inline-block;

    margin:0;
    width:330px;
    height:30px;

    border:1px gray solid;

    font-weight:bold;
    cursor:pointer;
}
#inputname {
    display:inline-block;

    margin:0;
    width:100px;
    height:30px;

    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

#frame_card {
    position:relative;
    display:block;

    margin:5px auto;
    width:437px;
    height:632px;

    border:1px gray solid;

    color:white;
    text-shadow:0 -2px black,2px -2px black,2px 0 black,2px 2px black,0 2px black,-2px 2px black,-2px 0 black,-2px -2px black;
    text-align:center;
}
    #card_image {
        position:absolute;
            left:103px;top:52px;
        z-index:1;
        width:240px;
        height:335px;

        background-repeat:no-repeat;
        background-position:50% 50%;
        -webkit-clip-path: ellipse(50% 50% at 50% 50%);
        clip-path: ellipse(50% 50% at 50% 50%);
    }
    #card_body {
        position:absolute;
            left:24px;top:36px;
        z-index:2;
        width:396px;
        height:590px;

        background-size:100% 100%;
    }
        #card_body.frame_neutral {background-image:url(../images/assets/frame-minion-neutral.png);}
        #card_body.frame_warrior {background-image:url(../images/assets/frame-minion-warrior.png);}
        #card_body.frame_shaman {background-image:url(../images/assets/frame-minion-shaman.png);}
        #card_body.frame_rogue {background-image:url(../images/assets/frame-minion-rogue.png);}
        #card_body.frame_paladin {background-image:url(../images/assets/frame-minion-paladin.png);}
        #card_body.frame_hunter {background-image:url(../images/assets/frame-minion-hunter.png);}
        #card_body.frame_druid {background-image:url(../images/assets/frame-minion-druid.png);}
        #card_body.frame_warlock {background-image:url(../images/assets/frame-minion-warlock.png);}
        #card_body.frame_mage {background-image:url(../images/assets/frame-minion-mage.png);}
        #card_body.frame_priest {background-image:url(../images/assets/frame-minion-priest.png);}
    #card_rarity {
        position:absolute;
            left:163px;top:366px;
        z-index:3;
        width:118px;
        height:64px;

        background-size:100% 100%;
    }
        #card_rarity.frame_free {background:transparent;}
        #card_rarity.frame_common {background-image:url(../images/assets/rarity-minion-common.png);}
        #card_rarity.frame_rare {background-image:url(../images/assets/rarity-minion-rare.png);}
        #card_rarity.frame_epic {background-image:url(../images/assets/rarity-minion-epic.png);}
        #card_rarity.frame_legendary {background-image:url(../images/assets/rarity-minion-legendary.png);}
    #card_race {
        display:none;
        position:absolute;
            left:77px;top:562px;
        z-index:3;
        width:294px;
        height:48px;

        background-image:url(../images/assets/race-banner.png);
            background-size:100% 100%;

        font-size:20px;
            line-height:55px;
        font-weight:bold;
    }
    #card_cost {
        position:absolute;
            left:7px;top:46px;
        z-index:4;
        width:104px;
        height:104px;

        background-image:url(../images/assets/cost-mana.png);
            background-size:100% 100%;

        font-size:80px;
            line-height:90px;
        font-weight:bold;
    }
    #card_name {
        position:absolute;
            left:48px;top:319px;
        z-index:4;
        width:357px;
        height:83px;

        background-image:url(../images/assets/name-banner-minion.png);
            background-size:100% 100%;
    }
        #card_name_text {
            position:relative;

            width:100%;
            height:100%;

            transform:rotate(-3deg);

            font-size:30px;
                line-height:70px;
            font-weight:bold;
        }
    #card_desc {
        display:table;
        position:absolute;
            left:67px;top:423px;
        z-index:4;
        width:306px;
        height:114px;

        font-size:20px;
        color:black;
        font-weight:bold;
        text-shadow:none;
    }
        #card_desc_text {
            display:table-cell;
            vertical-align: middle;
        }
    #card_attack {
        position:absolute;
            left:0px;top:506px;
        z-index:4;
        width:112px;
        height:126px;

        background-image:url(../images/assets/attack-minion.png);
            background-size:100% 100%;

        font-size:70px;
            line-height:130px;
        font-weight:bold;
    }
    #card_health {
        position:absolute;
            left:350px;top:512px;
        z-index:4;
        width:81px;
        height:120px;

        background-image:url(../images/assets/health.png);
            background-size:100% 100%;

        font-size:70px;
            line-height:130px;
        font-weight:bold;
    }
